{%extends 'blog/base1.html' %}
{%load static%}
{%block title_block%}BLOG HOME PAGE{%endblock%}

		{%block content1%}
<!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
      <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
          <div class="col-first">
            <h1>Credits</h1>
            <nav class="d-flex align-items-center">
              <a >Home<span class="lnr lnr-arrow-right"></span></a>
              <a >Credits</a>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- End Banner Area -->
    <div class="section-title" data-aos="fade-up">

        </div>

    <h2 align="center">Credits</h2>
      <!--<h3 align="center">Hi ,{{post_list.username}}</h3>-->
    </br></br>
    <h3 align="center">current balance :{{post_list.credits}}</h3>
    </br></br>
    </br></br>
    </br></br>

    {%endblock%}
