{%extends 'blog/base1.html' %}

    {%block content1%}
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
      <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
          <div class="col-first">
            <h1>Change Password</h1>
            <nav class="d-flex align-items-center">
              <a >Home<span class="lnr lnr-arrow-right"></span></a>
              <a >Change password</a>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- End Banner Area -->
    <div class="jumbotron jumbotron-fluid">
    <div class="container">

<h3>Password reset</h3>

<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

<form method="post">

	{% csrf_token %}
	{{form.as_p}}
	<input type="Submit" name="Send email">

</form>
</div>
</div>
{% endblock %}
