
{%extends 'blog/base1.html' %}
    {%block content1%}
    <!-- Start Banner Area -->
  	<section class="banner-area organic-breadcrumb">
  		<div class="container">
  			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
  				<div class="col-first">
  					<h1>Reset Password</h1>
  					<nav class="d-flex align-items-center">
  						<a >Home<span class="lnr lnr-arrow-right"></span></a>
  						<a >Reset password</a>
  					</nav>
  				</div>
  			</div>
  		</div>
  	</section>
  	<!-- End Banner Area -->
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h3>Enter new password</h3>

    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

    <form method="post">

    	{% csrf_token %}
    	{{form}}
    	<input type="Submit" name="Update Password">

    </form>
    </div>
    </div>
    {% endblock %}
