{%extends 'blog/base.html' %}
{%block title_block%}{{post.title}}{%endblock%}
    {%block content%}
<div class="container">
  <div class="jumbotron" >
      <h1>{{post.title}}</h1>

      <div class="container-fluid">
      <figure class="figure">
  <img src="{{post.image.url}}" class="figure-img img-fluid rounded" alt="coming soon">
</figure>
</div>
</div>
      {{post.body|linebreaks}}
      </div>

      <form method="post">
                {% csrf_token %}

      <input type="hidden" id="username" name="username" value={{user.username}} >
              <input type="hidden" id="product_name" name="product_name" value={{post.title}} required>
              <input type="hidden" id="address" name="address" value="provided address by dealer" >
              
                <input type="text" name="flatnumber" required>
            <input  class="btn btn-success" type="Submit">
            </form>
            <form method="post">
                      {% csrf_token %}

            <input type="hidden" id="username" name="username" value={{user.username}} >
                    <input type="hidden" id="product_name" name="product_name" value="{{post.title}}" required>
                    <input type="hidden" id="address" name="address" value="provided address by dealer" >
                      <input type="hidden" id="flatnumber" name="flatnumber" value="self" >

                  <!--<input  class="btn btn-success" value="Get me sample" type="Submit">-->
                  </form>
    {%endblock%}
